@import './base.css';

body {
    height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  height: 100%;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    text-decoration: none;
  }
}

main {
    display: flex; /* displays flex-items (children) inline */
    flex-direction: column; /* stacks them vertically */
    height: 100%; /* needs to take the parents height, alternative: body {display: flex} */

}

main > header {
}

main .content {
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto; /* to scroll just the "main" div */

}

.item-row {
    display: inline;
}
